* text=auto eol=lf

# Excluir del ZIP de release (instalable en WP)
/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.githooks export-ignore
/.editorconfig export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/vendor export-ignore
/stubs export-ignore
/tests export-ignore
/phpunit.xml.dist export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon export-ignore
/README.md export-ignore
/CHANGELOG.md export-ignore
