parameters:
  level: 5
  parallel:
    maximumNumberOfProcesses: 0
    processTimeout: 60.0
  paths:
    - .
  excludePaths:
    - vendor
    - tests
  treatPhpDocTypesAsCertain: false
  stubFiles:
    - stubs/elementor.php
