<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" cacheResult="false" cacheDirectory=".phpunit.cache" beStrictAboutCoverageMetadata="false">
  <testsuites>
    <testsuite name="MR4WP">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
